<div class="container-fluid">
  <div class="col-xs-12" id="jfresco-nav">

      <ul class="nav nav-pills">
        <!-- Nav Items -->
        <li ng-class="{ active: nav.isActive('/') }">
          <a href="#/">Intro</a>
        </li>
        <li ng-class="{ active:nav.isActive('/skills') }">
          <a href="#/skills">Skills</a>
        </li>
        <li ng-class="{ active:nav.isActive('/contact') }">
          <a href="#/contact">Contact</a>
        </li>

        <!-- External Nav Items -->
        <li ng-class="{ active:nav.isActive('/linkedin') }">
          <a href="https://www.linkedin.com/in/juliansoro" target="_blank">LinkedIn</a>
        </li>
        <li ng-class="{ active:nav.isActive('/github') }">
          <a href="https://github.com/julianfresco" target="_blank">GitHub</a>
        </li>
        <li ng-class="{ active:nav.isActive('/stackoverflow') }">
          <a href="http://stackoverflow.com/users/1799146/julianfresco" target="_blank">StackOverflow</a>
        </li>
      </ul>

  </div>
</div>